@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@keyframes movement {
    0% {
      right: 0px;
    }
    50% {
      right: -500px;
    }
    100% {
      right: -8000px;
    }
}

#menu-question {
    display: flex;
    position: fixed;
    left: -40px;
    top: 0;
    width:20%;
    height: 100%;
	z-index: 1;
    transition: right 2s;
}

#menu-document-content {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0;
    width:20%;
    height: 100%;
	z-index: 1;
    transition: right 2s;
}

#menu-question ul
{
    margin:auto 0;
    list-style-type:none;
}

#menu-document-content ul
{
    margin:auto 0;
    list-style-type:none;
}

#_all_menu_content h3
{
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#_all_menu_content p
{
    text-align: left;
}

#_all_menu_content img
{
    margin: 10px 10px 10px 0;
    float: right;
    height: 60%;
    right: 5px;
}


#_all_menu_content button
{
    display:inline-block;
    padding: 10px;
    width:350px;
    height:30%;
    color:#FFFFFF;
    text-decoration:none;
    background-color: #00000088;
    border-width: 0ch;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
}


#_all_menu_content button:hover
{
    background-color: #7C7C7C;
    color: #FFFFFF;
} 

#toggleButton{
    right: 245px;
    top: 50%;
    /* width: 100px; */
    height: auto;
    position: absolute;
    display: block;
    border-width: 0;
    background-color: #ffffff00;
    transform: scaleX(1);
    transition: transform 1s;
}

#toggleButton:hover{
    background-color: #7C7C7C;
    color: #FFFFFF;
}

#_all_menu_content #dataTitle {
    background-color: #00000088;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:#FFFFFF;
    font-weight : bold;
}

/* @media (max-width: 960px) and (min-width: 501px) {
    #menu-document-content li { width: 50%; } 
}

@media (max-width: 500px) {
    #menu-document-content li { width: 100%; } 
} */

  
  