#menu-document-content {
    position: fixed;
    right: 2px;
    top: 45%;
    width: 150px;
    margin: 0 0 0 0;
	padding: 10px 0px 10px 35px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	text-indent: 10px;
	color: white;
    /*border-right: none;*/
    border-radius: 35px 10px 10px 10px;
	/* Générateur de code couleur -- http://www.workwithcolor.com/hsl-color-picker-01.htm */
	z-index: 2;
}

#menu-document-content ul
{
    margin:0;
    padding:0;
    list-style-type:none;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 15px;
}

#menu-document-content a
{
display:block;
padding: 10px;
width:150px;
height:15px;
color:#FFFFFF;
text-decoration:none;
background-color: #454545;
border-bottom: 1px solid #000000;
border-top: 1px solid #4C4C4C
}

#menu-document-content a:link, #_all_menu_content a:visited
{
color: #E6E6E6;
text-decoration: none;
}

#menu-document-content a:hover
{
background-color: #7C7C7C;
color: #FFFFFF;
} 

  
  